@use "../../../../css/variables" as variable;
.busTider{
    display: flex;
    color: variable.$black;
    margin: 0.2rem 0;
    .stoppeSted{
        width: 100%;
        background-color: variable.$white;
        padding: 0 0 0 1rem;
        border-radius: 8px 0 0 8px;
    }
    .anKomst{
        text-align: center;
        width: 4rem;
        background-color: variable.$yellow;
        border-radius: 0px 8px 8px 0px;
        padding-right: 0.2rem;
    }    
}

.bus{
    legend {
        margin: auto;
        padding: 0 0.5rem;
        img {
            width: 50px;
            height: 50px;
        }
    }

    fieldset {
        border: 2px solid variable.$yellow;
        border-radius: 8px;   
        header{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;
            background-color: variable.$yellow;
            color: variable.$black;
            padding: 1rem 0;
            border-radius: 8px;
            h2{
                margin: 0;
                font-size: 1.6rem;
                line-height: 1.6rem;
            }
        }     
    }

    .busContainer{
        p{
            margin: 0.4rem 0;
        }
    }

    .whats-next{
        display: flex;
        justify-content: center;
        p{
            margin-bottom: 0;
            margin-top: 0;
        }
        .afgange{
            color: variable.$yellow;
        }
    }
    .stoppested-ankomst{
        display: flex;
        justify-content: space-between;
        margin: 0 0.3rem;
        p{
            margin-bottom: 0;
        }
    }
}