@use "../../../../css/variables" as variable;

.clock {
    border: 2px solid red;
    
    display: flex;
    justify-content: center;
    fieldset {
        width: 100%;        
        text-align: center;
        border: 2px solid variable.$yellow;
        border-radius: 8px;
        // width: fit-content; 
        text-align: center;
        header{
            h2{
             color: variable.$white;
                margin: 0;
                font-size: 3rem;
            }
        }
        .timeDateContainer{
            padding: 0.5rem 2rem 2.5rem 2rem;   
            p{
                color: variable.$yellow;
                margin: 0rem
            }
        }


        legend {
            margin: auto;
            padding: 0 0.5rem;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}
