@use "./variables" as variable;
@use "../js/modules/Clock/UrView/urView" as urView;
@use "../js/modules/BusTider/busTiderView/busTiderView" as busTiderView;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// font-family: "Montserrat", sans-serif;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: variable.$black;
    color: variable.$white;
    font-family: "Montserrat";
    overflow: hidden; 
    background-color: variable.$black;
}



.background{
    position: relative;
    >img{
        filter: brightness(50%);    
        width: 100%;
        display: block;
    }
}
#App{
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
