@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Montserrat", sans-serif;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $black;
    color: $white;
    font-family: "Montserrat";
    overflow: hidden; 
    background-color: $black;
}

// #region Background image

.background-container {
    position: relative;
    overflow: hidden; 
    width: 100vw;
    height: 100vh;
}

.background-container img {
    max-width: 100%; 
    opacity: .6;
    height: auto; 
}

#siteContent {
    overflow-y: hidden; 
    position: absolute;
    border: 2px solid lime;
    width: 85%;
    height: 85%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tidContainer{
    border: 2px solid red;
    
}

#tidContent {
    border: 2px solid $yellow;
    border-radius: .5rem;
    margin: .5rem;

    width: 360px;
    height: 260px;

    position: relative;
}

#clockImage{
    border: 2px solid red;
    position: absolute;
    top: -10rem;
    left: 0;
    width: 100%;
    scale: .27;
}



// #endregion Background image
