@use "../../../../css/variables" as variable;

.food{
    height: 100%;
    width: 450px;
    legend {
        margin: auto;
        padding: 0 0.5rem;
        img {
            width: 80px;
            height: 50px;
        }
    }

    fieldset {
        border: 2px solid variable.$yellow;
        border-radius: 8px;  
        height: 100%; 
        header{
            margin-top: 6rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;
            border-radius: 8px;
            h2{
                margin: 0;
                font-size: 2.6rem;
                line-height: 2.2rem;
            }
        }     
    }
}


.uge{
    margin-bottom: 1.5rem;
    text-align: center;
    p{
        color: variable.$yellow;
        margin: 0;
        font-size: 1.2rem;
        font-weight: 800;
    }
}

.food-list{
    .food-item{
        background-color: variable.$white;
        color: variable.$black;
        display: flex;
        justify-content: space-between;
        padding: 0 0.8rem;
        margin: 0.5rem 0;
        border-radius: 8px;
    }
}



.food-item.highlight {
    background-color:  variable.$yellow;
    font-weight: bold; 
    animation: bounce 6s ease infinite;
}

@keyframes bounce {
    0%, 20%, 100% { 
        transform: translateY(0); 
    }
    30% { 
        transform: translateY(-10px);
    }
    50% { 
        transform: translateY(0);
    }
    60% { 
        transform: translateY(-5px);
    }
    80% { 
        transform: translateY(0); 
    }
    90% { 
        transform: translateY(-2px);
    }
    95% { 
        transform: translateY(0); 
    }
}



